# ==============================
# Node.js
# ==============================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# Environment Variables
# ==============================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keep an example environment file
!.env.example
.venv
.SIFvenv
!.venv.example
!.SIFvenv.example


# ==============================
# Build / Production
# ==============================
dist/
build/
out/
.next/
.vercel/

# ==============================
# Coverage
# ==============================
coverage/
.nyc_output/

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Temporary Files
# ==============================
tmp/
temp/
*.tmp

# ==============================
# Uploaded Files
# ==============================
uploads/

# ==============================
# VS Code
# ==============================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
Desktop.ini

# ==============================
# Cache
# ==============================
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# ==============================
# Testing
# ==============================
.nyc_output/
*.lcov

# ==============================
# Misc
# ==============================
*.swp
*.swo

node_modules/
.env
SIFvenv/
__pycache__/
*.pyc